<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WebScout Report</title>
</head>
<style>
    body {
        font: 14px "Segoe UI Semibold";
    }

    .main {
        margin: auto;
        max-width: 730px;
        align-items: center;
    }

    .result {
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 10px 18px 0 #9f9e9e;
    }

    .screenshot {
        max-width: 700px;
    }

    .headers {
        vertical-align: text-top;
        max-width: 700px;
        font-family: "Consolas";
    }

    .headers.hidden {
        display: none;
    }

    .header-key {
        font-weight: bold;
        min-width: 200px;
    }

    .header-value {
        max-width: 500px;
        word-wrap: break-word;
    }

    .button {
        color: white;
        background-color: rgb(196, 196, 196);
        text-decoration: none;
        min-width: 100px;
        padding: 5px 10px 5px 10px;
        margin-right: 15px;
    }

    .button:hover {
        background-color: rgb(206, 206, 206);
    }
</style>

<body>
    <div class="main">
        {% for result in data %}
        <div class="result">
            <h3>
                {{ result['url'] }} -> {{ result['status_code'] }}
            </h3>
            <table>
                <tr>
                    <img class="screenshot" src="./screenshots/{{ result['screenshot'] }}" alt="">
                </tr>
                <tr>
                    <a class="button" href="javascript:void(0);" onclick="toggleHeaders(this)">Headers</a>
                    <a class="button" href="{{ result['url'] }}" target="_blank">Visit</a>
                </tr>
                    {% for header, value in result['headers'].items() %}
                    <tr class="headers hidden">
                        <td class="header-key">{{ header }}</td>
                        <td class="header-value">{{ value }}</td>
                    </tr>
                    {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
    <script>
        function toggleHeaders(el) {
            let headers = el.parentElement.getElementsByClassName('headers');
            for (let header of headers) {
                if (header.classList.contains('hidden')) {
                    header.classList.remove('hidden');
                    continue;
                }
                header.classList.add('hidden');
            }
        }
    </script>
</body>

</html>