<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>WebScout Report</title>
</head>
<style>
    body {
        font: 14px "Segoe UI Semibold";
    }

    .main {
        margin: auto;
        width: 530px;
        align-items: center;
    }

    .result {
        padding: 15px;
        margin-bottom: 30px;
        border-radius: 5px;
        box-shadow: 0 10px 18px 0 #9f9e9e;
    }

    .screenshot {
        max-width: 500px;
    }
</style>
<body>
<div class="main">
    {% for result in data %}
        <div class="result">
            <h3>{{ result['url'] }}</h3>
            <img class="screenshot" src="./screenshots/{{ result['screenshot'] }}" alt="">
            <a class="button" href="{{ result['url'] }}"></a>
        </div>
    {% endfor %}
</div>
</body>
</html>